POSTGRES_URL=postgres://user:password@localhost:5432/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
PAYLOAD_DB_PUSH=false
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_YILjlMsJumdwt0gr_ne2uCob6ie4tBiXQe580K4YdboFYU7"
